.title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding-top: 3rem;
}

.books-progress {
  width: 70%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
}

.all-books {
  margin: 0 3rem 0 3rem;
}

.filter {
  width: 100%;
}

.image {
  width: 5rem;
  height: 5rem;
  border: solid black;
}
