<app-header>
  <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>logout</span>
    </button>
  </mat-menu>
</app-header>
<div class="not-activated" *ngIf="!user.activated; else activated">
  <span>Your account has to be activated by Admin to enjoy the Book Universe. Please wait.</span>
</div>

<ng-template #activated>
  <app-books-view></app-books-view>
</ng-template>

