.menu-button {
  color: whitesmoke;
  float: right;
  padding-right: 3rem;
  padding-top: 1.5rem;
}

.options {
  padding-top: 3rem;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
}

.backup-card {
  width: 30%;
  cursor: pointer;
}

.mat-mdc-card-avatar {
  border-radius: 0;
}

.content {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
