.sign-up-wrapper {
  width: 60%;
  margin: 3rem auto auto;
}

.input-field {
  width: 100%;
}

.sign-up-button {
  width: fit-content;
  margin: auto
}

.menu-button {
  color: whitesmoke;
  float: right;
  padding-right: 3rem;
  padding-top: 1.5rem;
}
